<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var socket = io.connect(
            "http://" + document.domain + ":" + location.port ) ;
            var img = document.getElementById("live-stream");
            socket.on("frame", function (data) {
            img.src = "data:image/jpeg;base64," + data;
            } ) ; } ) ;
    </script>
</head>
<body>
<section class="wrapper">

    <div class="container header">
        <h1>Soft Matter Practical - Camera App</h1>
    </div>

    <div class="container controls">
        <form class="control_element" action="{{ url_for('set_exposure') }}" method="post">
            <label for="exposure_time">Exposure (&micro;s)</label>
            <input
            type="number"
            id="exposure_time"
            name="exposure_time"
            step="0.1"
            value="{{ exposure_time }}"
            />
            <button class="control_button" type="submit">Set</button>
        </form>

        <!-- <h2>Capture Time Series</h2> -->
        <form class="control_element" action="{{ url_for('capture_images') }}" method="post">
            <label for="num_frames">Frames</label>
            <input
            type="number"
            id="num_frames"
            name="num_frames"
            min="1"
            value="10"
            />
            <label for="timestep">Timestep (s)</label>
            <input
            type="number"
            id="timestep"
            name="timestep"
            step="0.1"
            value="1.0"
            />
            <button class="control_button" type="submit">Start Capture</button>
        </form>
    </div>
    <div class="container stream">
        <img id="live-stream" src="" alt="Live Stream" />
    </div>
    <div class="container download">
        <a class="download_link" href="{{ url_for('download_images') }}">Download Capture</a>
    </div>
    <div class="container footer">
        <p>SMP - Camera App 0.1 beta</p>
    </div>

</section>
</body>
</html>
