<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basler Camera Interface</title>
    <link rel="stylesheet" href="style.css" />
    <script src="socket.io.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var socket = io.connect(
            "http://" + document.domain + ":" + location.port ) ;
            var img = document.getElementById("live-stream");
            socket.on("frame", function (data) {
            img.src = "data:image/jpeg;base64," + data;
            } ) ; } ) ;
    </script>
</head>
<body>
<section class="wrapper">

    <div class="container header">
        <h1>Soft Matter Practical Camera App</h1>
    </div>

    <div class="container controls">
        <h1>Controls</h1> 
        <form action="{{ url_for('set_exposure') }}" method="post">
            <label for="exposure_time">Exposure Time (in microseconds):</label>
            <input
            type="number"
            id="exposure_time"
            name="exposure_time"
            step="0.1"
            value="{{ exposure_time }}"
            />
            <button type="submit">Set Exposure</button>
        </form>

        <h2>Capture Time Series</h2>
        <form action="{{ url_for('capture_images') }}" method="post">
            <label for="num_frames">Number of Frames:</label>
            <input
            type="number"
            id="num_frames"
            name="num_frames"
            min="1"
            value="10"
            />
            <label for="timestep">Timestep (in seconds):</label>
            <input
            type="number"
            id="timestep"
            name="timestep"
            step="0.1"
            value="1.0"
            />
            <button type="submit">Capture Images</button>
        </form>

        <h2>Download Captured Images</h2>
        <a href="{{ url_for('download_images') }}">Download Images</a>
    </div>
    <div class="container stream">
    <h1>Stream</h1>
    <img id="live-stream" src="" alt="Live Stream" />
    </div>

</section>
</body>
</html>
