<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var socket = io.connect("http://" + document.domain + ":" + location.port);
            var img = document.getElementById("live-stream");
            var progress = document.getElementById("progress");

            socket.on("frame", function (data) {
                img.src = "data:image/jpeg;base64," + data;
            });

            socket.on('show_progress', function() {
                progress.style.display = 'block';
            });

            socket.on('progress', function(data) {
                progress.innerText = 'Progress: ' + data.progress + '%';
            });

            socket.on('capture_complete', function() {
                progress.style.display = 'none';
            });

            $('#start_acquisition').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/start_acquisition',
                    data: {
                        num_frames: $('#num_frames').val(),
                        timestep: $('#timestep').val()
                    }
                });
            });

            // Handle USB unmount
            $('#umount_usb').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/umount_usb',
                    success: function(response) {
                        showPopup(response.message);
                    },
                    error: function(response) {
                        showPopup(response.responseJSON.message);
                    }
                });
            });

            // Handle USB mount
            $('#mount_usb').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/mount_usb',
                    success: function(response) {
                        showPopup(response.message);
                    },
                    error: function(response) {
                        showPopup(response.responseJSON.message);
                    }
                });
            });

            // Handle reboot
            $('#reboot').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/reboot',
                    success: function(response) {
                        showPopup(response.message);
                    },
                    error: function(response) {
                        showPopup(response.responseJSON.message);
                    }
                });
            });

            function showPopup(message) {
                var popup = document.createElement('div');
                popup.className = 'popup';
                popup.innerText = message;
                document.body.appendChild(popup);
                setTimeout(function() {
                    popup.remove();
                }, 3000);
            }
        });
    </script>

    <style>
        #progress, .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            font-size: 1.4rem;
            text-align: center;
            z-index: 1000;
        }
    </style>

</head>
<body>
<section class="wrapper">

    <div id="progress" style="display: none;">Progress: 0%</div>
    

    <div class="container header">
        <h1>Soft Matter Practical - Camera App</h1>
    </div>

    <div class="container controls">
        <form class="control_element" action="{{ url_for('set_exposure') }}" method="post">
            <label for="exposure_time">Exposure (&micro;s)</label>
            <input
            type="number"
            id="exposure_time"
            name="exposure_time"
            step="0.1"
            value="{{ exposure_time }}"
            />
            <button class="control_button" type="submit">Set</button>
        </form>

        <!-- <h2>Capture Time Series</h2> -->
        <form id="start_acquisition" class="control_element" action="{{ url_for('start_acquisition') }}" method="post">
            <label for="num_frames">Frames</label>
            <input
            type="number"
            id="num_frames"
            name="num_frames"
            min="1"
            value="10"
            oninput="calculateTotalSize()"
            />
            <label for="timestep">Timestep (s)</label>
            <input
            type="number"
            id="timestep"
            name="timestep"
            step="0.1"
            value="1.0"
            oninput="calculateTotalSize()"
            />
            <button class="control_button" type="submit">Start Capture</button>
        </form>

        <p id="total_size">Total Size: 0 Mb</p>
        <p id="total_time">Total Time: 0 s</p>
        <script>
            function calculateTotalSize() {
                var numFrames = document.getElementById('num_frames').value;
                var timestep = document.getElementById('timestep').value;
                
                var totalSize = numFrames * 2592 * 1944 * 1e-6;
                if (totalSize > 1000) {
                    totalSize = (totalSize / 1000).toFixed(2) + ' GB';
                } else {
                    totalSize = Math.round(totalSize) + ' MB';
                }
                
                var totalTime = numFrames * timestep;
                if (totalTime > 3600) {
                    var hours = Math.floor(totalTime / 3600);
                    var minutes = Math.floor((totalTime % 3600) / 60);
                    var seconds = totalTime % 60;
                    totalTime = hours + ' hr ' + minutes + ' min ' + seconds.toFixed(1) + ' s';
                } else if (totalTime > 60) {
                    var minutes = Math.floor(totalTime / 60);
                    var seconds = totalTime % 60;
                    totalTime = minutes + ' min ' + seconds.toFixed(1) + ' s';
                } else {
                    totalTime = totalTime.toFixed(1) + ' s';
                }
                document.getElementById('total_size').innerText = 'Total Size: ' + totalSize;
                document.getElementById('total_time').innerText = 'Total Time: ' + totalTime;
            }
        </script>
    </div>
    <div class="container stream">
        <img id="live-stream" src="" alt="Live Stream" />
    </div>
    <div class="container controls actions">

        <!-- Mount the USB drive -->
        <form id="mount_usb" action="{{ url_for('mount_usb') }}" method="post">
            <button class="control_button" type="submit">Re-Mount USB</button>
        </form>
        <!-- Unmount the USB drive -->
        <form id="umount_usb" action="{{ url_for('umount_usb') }}" method="post">
            <button class="control_button" type="submit">Safely Remove USB</button>
        </form>
         <!-- Reboot Pi -->
         <form id="reboot" action="{{ url_for('reboot') }}" method="post">
            <button class="control_button" type="submit">Reboot RPi</button>
        </form>
    </div>
    <div class="container footer">
        <p>SMP - Camera App 0.4 beta</p>
    </div>

</section>
</body>
</html>
